// Define variables for your color scheme
$light-shade: #FFFFFF; // white
$light-accent: #F0EDEE; // cultured
$main-brand: #FAA916; // chrome yellow
$dark-accent: #1B263B; // oxford blue
$dark-shade: #131515; //eerie black

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.color-ls { color: $light-shade; }
.bgcolor-ls { background-color: $light-shade; }
.color-la { color: $light-accent; }
.bgcolor-la { background-color: $light-accent; }
.color-mb { color: $main-brand; }
.bgcolor-mb { background-color: $main-brand; }
.color-da { color: $dark-accent; }
.bgcolor-da { background-color: $dark-accent; }
.color-ds { color: $dark-shade; }
.bgcolor-ds { background-color: $dark-shade; }



