// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&family=Montserrat:wght@300;400;500&display=swap');
// Define fonts for body and headers
$body-font: "Cutive Mono", "monospace";
$headers-font: "Montserrat", "sans-serif";
$display-font: "Major Mono Display", "monospace";

.font-body { font-family: $body-font; }
.font-header { font-family: $headers-font; }
.font-display { font-family: $display-font; }
