<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail.id) do %>
  <div class="cocktail-card">
    <div class="cocktail-img">
      <%= image_tag cocktail.thumbnail_url, alt:"#{cocktail.name} image thumbnail" %>
    </div>

    <div class="cocktail-info">
      <p><%= cocktail.name %></p>
    </div>
  </div>
  <% end %>
<% end %>
