<section class="hero" id="home">
  <div class="hero-inner">
    <h1 class="font-header">SOUP OF THE DAY</h1>
    <p class="font-header">MEET ME DOWN AT THE BAR. WE CAN DRINK BREAKFAST TOGETHER.</p>
    <br><br>
    <%= link_to 'SEE ALL COCKTAILS', cocktails_path %>
  </div>
</section>
