<section class="cocktails-grid">
  <div class="nav-header">
    <%= render 'shared/navbar' %>
  </div>

  <div class="cocktails-container container">

    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
        <div class="cocktail-img">
          <%= image_tag cocktail.thumbnail_url, alt:"#{cocktail.name} image thumbnail" %>
        </div>

        <div class="cocktail-info">
          <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="nav-footer">
    <%= render 'shared/footer' %>
  </div>
</section>
