<div class="cocktails-container container d-flex flex-wrap justify-content-around">
  <% @cocktails.each do |cocktail| %>
    <div class="card m-3" style="width: 18rem;">
      <%= image_tag cocktail.thumbnail_url, alt:"#{cocktail.name} image thumbnail", width: '100%' %>
      <div class="card-body text-center">
        <p class="card-text"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
      </div>
    </div>
  <% end %>
</div>
