<section class="hero" id="new-cocktail">
  <div class="new-cocktail-container container">
    <%= link_to '<< BACK TO HOME PAGE', root_path,
      class: "nav-item" %>
    <br><br>
    <%= link_to '<< BACK TO ALL COCKTAILS', cocktails_path,
      class: "nav-item" %>

    <br><br><br>

    <div class="new-cocktail-form container">
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
</section>
