.cocktails-container {
  width: 90%;
  margin: 5px 5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktails-grid {
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 1fr auto;
  grid-template-areas:
    'header'
    'create'
    'featured'
    'search'
    'content'
    'footer';

  .nav-header { grid-area: header; }
  .create-cocktail { grid-area: create; }
  .featured-cocktail { grid-area: featured; }
  .cocktails-search { grid-area: search; }
  .cocktails-container { grid-area: content; }
  .nav-footer { grid-area: footer; }
}
