.cocktail-grid {
  height: 100vh; width: 80%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'edit'
    'content'
    'footer';

  .nav-header { grid-area: header; }
  .edit-cocktail { grid-area: edit; }
  .cocktail-container { grid-area: content; }
  .nav-footer { grid-area: footer; }
}

.cocktail-container {
  display: flex;
  flex-direction: column;

  margin: 5px 10%;
  text-align: left;
  overflow: scroll;

  .cocktail-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .cocktail-name {
    font-family: $display-font;
    text-align: center;
    padding-left: 0.25em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 2.5em;
  }

  .cocktail-alcoholic {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
  }

  .cocktail-glass {
    text-transform: uppercase;
  }

  .cocktail-instructions {}

  .cocktail-ingredients {
    text-align: center;
  }
}

.cocktail-ingredients {
  .cocktail-ingredient-add {
    font-size: 1.5em;
    color: $dark-shade;
  }
}

.hidden { display: none !important; }
.hoverable {
  &:hover { opacity: 0.5; }
}

