<div class="banner-nav navigation" id="header">
  <ul class="list-inline m-0 p-0">
    <li class="nav-item" id="nav-all-cocktails">
      <%= link_to 'COCKTAILS', cocktails_path,
        class: "dropdown-item" %>
    </li>

    <li class="nav-item" id="nav-all-cocktails">
      <%= link_to 'ABOUT', cocktails_path,
        class: "dropdown-item" %>
    </li>

    <li class="nav-item" id="nav-all-cocktails">
      <%= link_to 'CONTACT', cocktails_path,
        class: "dropdown-item" %>
    </li>
   </ul>
</div>

<h1 class="font-header">SOUP OF THE DAY</h1>
