<div class="navigation header">
  <ul class="list-inline m-0 p-0">
    <li class="nav-item" id="nav-all-cocktails">
      <%= link_to 'ALL COCKTAILS', cocktails_path,
        class: "dropdown-item" %>
    </li>
    <li class="nav-item" id="nav-home">
      <%= link_to icon('fas', 'glass-whiskey',
          class: 'fa-lg navbar-brand',
          id: 'navBrand'), root_path
      %>
    </li>
    <li class="nav-item" id="nav-new-cocktail">
      <%= link_to 'NEW COCKTAIL', new_cocktail_path, class: "dropdown-item" %>
    </li>
   </ul>
</div>
