<div class="new-ingredient-form">
  <br><br>
  <%= simple_form_for [ cocktail, dose ] do |f| %>
    <div class="cocktail-ingredient-form">
      <div class="cocktail-ingredient-row">
        <div class="nif-dose">
          <%= f.input :description,
            label: 'DOSE',
            placeholder: '1.0 CUPS...',
            input_html: {
              value: '',
              id: '' } %>
        </div>
        <div class="nif-ingredient">
          <%= f.association :ingredient,
            label: 'INGREDIENT',
            collection: Ingredient.order('name'),
            input_html: {
              id: '' } %>
        </div>
        <%#= link_to icon('fas', 'minus-circle',
              class: 'fa-lg text-danger',
              style: 'font-size:20px;opacity:0.5;',
              id: 'removeButton'),
          '#',
          class: 'nif-rmBtn' %>
      </div>
      <%#= link_to icon('fas', 'plus',
            class: 'fa-lg text-success nif-addBtn',
            style: 'font-size:20px;opacity:0.5;',
            id: 'addButton') + ' ADD ANOTHER INGREDIENT',
            '#' %>
    </div>
    <br>
      <%= f.button :submit,
            "ADD DOSE/INGREDIENT",
            class: 'btn',
            id: 'nif-submit' %>
    </div>
  <% end %>
</div>
