
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item d-flex justify-content-between ingredient-item"
      id="dose-<%= dose.id %>">
        <div class="info">
          <%= dose.description %>
          <span><strong>
            <%= Ingredient.find(dose.ingredient_id).name %>
          </strong></span>
        </div>
        <div class="delete-icon">
          <%= link_to icon(
              'fas', 'minus-circle',
              class: 'cocktail-ingredient-rm fa-lg text-danger',
              style: 'font-size:20px;opacity:0.5;',
              id: 'removeButton'),
            cocktail_dose_path(
          cocktail_id: @cocktail.id, id: dose.id),
          id: "dose-#{dose.id}-rm",
        method: :delete,
        remote: true,
        data: { confirm: 'ARE YOU SURE?'} %>
        </div>
      </li>
    <% end %>
    