.navigation{
  background-color: $main-brand;
}

.navigation ul {
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;

  a {
    color: $dark-shade;
  }

  a:hover {
    opacity: 0.75;
  }
}

